nav {
    width: 100%;
    background-color: #ff245b;
    display: flex;
    justify-content: space-between;
}
.modelxyzlogo {
    padding: 20px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
}
nav .navbar {
    padding: 20px;
    display: flex;
}
nav .navbar .navbar-item {
    list-style-type: none;
    padding: 0px 20px;
}
nav .navbar .navbar-item a {
    position: relative;
    display: block;
    padding-bottom: 5px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
nav .navbar .navbar-item a:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transition: 0.3s ease-in-out;
}
nav .navbar .navbar-item a:hover:after {
    width: 100%;
}