* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* font-size: calc(16px + (24 - 16) * (100vw - 320px) / (2560 - 320)); */
  --bg: #737a8c;
  --buttonBg: #2762f3;
  --buttonHoverBg: #0c48db;
  --formBg: #fff;
  --inputBorder: #abafba;
  --inputBg: #fff;
  --inputDisableBg: #e3e4e8;
  --pColor: #17181c;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #a34747; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
